@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model string
@{
    ViewData["Title"] = Localizer["Title"];
}


<h1>@ViewData["Title"]</h1>
<div>
    <p>
        @Localizer["EmailSentTo"] <strong>@Model</strong>. @Localizer["ClickLinkToActivate"]
    </p>
</div>

